// $primary-color: rgb(233, 165, 63);
// $secondary-color: rgb(202, 65, 81);
// $tertiary-color: rgb(2, 110, 129);
// $quaternary-color: rgb(42, 88, 131);
// $background-color: rgb(1, 53, 81);

// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

// .landing-page {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   text-align: center;
//   height: 100vh;
//   background-color: $background-color;

//   .logo {
//     border-radius: 10px;
//     width: 400px;
//     margin-top: 50px;
//   }


//   .subtitle {
//     font-size: 18px;
//     margin-top: 20px;
//     font-family: 'Montserrat', sans-serif;
//     color: ivory;
//   }

//   .description {
//     color: ivory;
//     margin: 50px;
//     font-size: 18px;
//     font-family: 'Montserrat', sans-serif;
//   }

//   .cta-section {
//     margin-top: 50px;
//     display: flex;
//     justify-content: center;

//     .cta-button {
//       padding: 15px 30px;
//       font-size: 18px;
//       font-weight: bold;
//       font-family: 'Montserrat', sans-serif;
//       border-radius: 20px;
//       margin: 0 20px;
//       text-decoration: none;
//       color: $primary-color;
//       background-color: $tertiary-color;
//       transition: background-color 0.3s ease, color 0.3s ease;

//       &:hover {
//         background-color: $secondary-color;
//         color: $background-color;
//         cursor: pointer;
//       }
//     }
//   }
// }

// @media (max-width: 768px) {
//   .landing-page {
//     .title {
//       font-size: 28px;
//     }

//     .cta-section {
//       flex-direction: column;
//       align-items: center;

//       .cta-button {
//         margin: 20px 0;
//       }
//     }
//   }
// }


// Import Materialize CSS
@import 'https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css';

// Custom color variables
$primary-color: rgb(233, 165, 63);
$secondary-color: darkorange;
$tertiary-color: rgb(2, 110, 129);
$quaternary-color: rgb(42, 88, 131);
$background-color: #033399;

// Import Montserrat font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

div {
  display: block;
}

.header {
  padding-top: 25px;
  z-index: 200;
  height: 5%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  height: 20%;
}

// Style the landing page
.landing-page {
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  height: 1000vh;
  background-color: $background-color;
  color: ivory;
  line-height: 1.38889;
  font-weight: 400;
  font-style: normal;
}

.row {
  align-items: center;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  height: 20%;
}

.app-name {
  font-size: 2rem;
  position: absolute;
  top: 25px;
  left: 25px;
  display: flex;
  align-items: center;

}

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  right: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: ivory;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

//     // Style the CTA button
//     .cta-button {
//       padding: 15px 30px;
//       font-size: 18px;
//       font-weight: bold;
//       font-family: 'Montserrat', sans-serif;
//       border-radius: 20px;
//       margin: 0 20px;
//       text-decoration: none;
//       color: $primary-color;
//       background-color: ivory;
//       transition: background-color 0.3s ease, color 0.3s ease;

//       &:hover {
//         background-color: orange;
//         color: $background-color;
//         cursor: pointer;
//       }
//     }
//   }
// }

// // Media query for small screens
// @media (max-width: 768px) {
//   .landing-page {
//     // Style the title
//     .title {
//       font-size: 28px;
//     }

//     // Style the CTA section
//     .cta-section {
//       flex-direction: column;
//       align-items: center;

//       // Style the CTA button
//       .cta-button {
//         margin: 20px 0;
//       }
//     }
//   }
// }


